.about{
   position: relative;
   top:-3px; 
}

.about-container{
    display:flex;
    align-items: center;
}

.about-container div{
    display:flex;
    align-items: center;
    justify-content:center;
    width:25%;
    height: 300px;
}


.box-about:nth-of-type(1){
    background-image:url("http://witabud.pl/wp-content/themes/witabud/assets/img/service_img01.jpg");
    background-size: cover;
}

.box-about:nth-of-type(2){
    background-image:url("http://witabud.pl/wp-content/themes/witabud/assets/img/service_img02.jpg");
    background-size: cover;
}

.box-about:nth-of-type(3){
    background-image:url("http://witabud.pl/wp-content/themes/witabud/assets/img/service_img03.jpg");
    background-size: cover;
}

.box-about:nth-of-type(4){
    background-image:url("http://witabud.pl/wp-content/themes/witabud/assets/img/service_img04.jpg");  
    background-size: cover; 
}

.about-container a {
    font-family: "League Spartan";
    font-size: 20px;
    color: #f8db14;
    border: 2px solid 
    #f8db14;
    padding: 10px 10px;
    text-align: center;
    line-height: 145%;
    max-width: 175px;
    text-decoration: none;
}

.about-container a:hover {
    background: #f8db14;
    color: #000;
}

@media (max-width:1024px){
    .about-container{
        flex-direction: column;
        flex-wrap: wrap;
        height:600px;
    }
    .about-container div{
        width: 50%;
        height: 300px; 
    }
}
@media (max-width:430px){
    .about-container div{
        width: 100%;
        height:210px ;
    }
    .about-container{
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
    }
   
}