.accident{
    position: relative;
    background: #f8db14;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.accident-conatiner{
    position: relative;
    display: flex;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding:0;
}

.accident-box-left{
    position: absolute;
    left:0;
    width: 70%;
    color: #9c8b18;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
}

.accident-box-right{
    position: absolute;
    text-align: right;
    color: #9c8b18;
    right: 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.accident-box-right ul{
	margin:0;
	padding:0;
	display:flex;
}

.accident-box-right {
	float: right;
}

.accident-box-right ul li{
    list-style:none;
}

.accident-box-right img{
    position: relative;
    margin-left:20px;
    margin-right: 20px;
}

.accident-box-right ul li p{
    color: #000000;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.accident-box-right ul li h3{
   
    position: relative;
    color: #000000;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width:1024px){
    .accident-conatiner{
            width: 92vw;
    }

    .accident-box-left{
        position: absolute;
        left:0;
        width: 50%;
        color: #9c8b18;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
    }
}
@media (max-width:768px){
.accident-box-left{
    position: absolute;
    left:0;
    width: 60%;
    color: #9c8b18;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.accident-box-right ul li h3{
    font-size: 16px;
    top: 0px;
}

.accident-box-right ul li p{
    font-size: 16px;
}

.accident-box-right img {
    top: 0px;
}
}
@media (max-width:430px){
    .accident-box-left {
        width: 70%;
        left: 15%;
        top: 22px;
        font-size: 18px;
        text-align: center;
    }

    .accident-box-right{
        position: relative;
        width: 80%;
        top:45px;
        font-size:16px;
        padding-left: 10%;
    }

    .accident-box-right ul li p {
        font-size: 15px;
    }

    .accident-conatiner{
        margin: 0 auto;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }
}







