 .article{
    position: relative;
    width: 100vw;
    margin-top:90px;
    padding-bottom: 30px;
    padding-top: 2px;
}
 
 .article-conatiner{
     position: relative;
     display:flex;
     flex-direction: column;
     justify-content:flex-start;
     align-items: center;
     width:98%;
     margin: 0 auto;
 }

 .box-article-one{
    padding-bottom: 27px;
    margin: 0 auto;
 }

 .box-article-one h2{
    margin-top: 0px;
    width:100%;
    color: #191919;
    font-size: 22px;
    text-align: left;
    line-height: 30.02px;
    font-weight: 400;
    padding-bottom: 30px;
 }

 .article-conatiner p{
    width:98%;
    margin: 0 auto;
    color: #414141;
    font-family:Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.02px;
 }

.box-article-two{ 
    margin: 0 auto;
}

.box-article-two img{
    width:100%;   
}

.box-article-three{
    padding-top:30px;
    width: 98%;
    margin: 0 auto;
}

.box-contact-one{
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    padding-bottom: 27px;
}

.box-contact-one h2{
    height: 21px;
    color: #ffffff;
    font-family: "League Spartan";
    padding-top:30px;
    padding-bottom:25px;
    padding-left:30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.box-contact-one input{
    width:320px;
    height: 38px;
    background-color: #ffffff;
    color: #8f8f8f;
    font-family: Roboto;
    margin-bottom:10px;
    font-weight: 400;
    line-height: 30px;
    margin-left:30px;
    margin-right:30px;
    padding:10px;
}

.box-contact-one input:nth-of-type(4){
    height: 74px;
}

.box-contact-one input:nth-of-type(5){
    width:345px;
    height: 50px;
    border:none;
    background-color: #f8db14;
    color: #000000;
    font-family: "League Spartan";
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.box-contact-two{
    width:98%;   
    margin: 0 auto;
    background-color: #f0f0f0;
    padding-bottom: 34px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: left;
}

.box-contact-two h2{
    padding:32px;
    height: 15px;
    color: #000000;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase; 
}

.box-contact-two h3{
    width: 90%;
    padding-left:32px;
    color: #636363;
    font-size: 18px;
    line-height: 30.01px;
    font-family: Roboto;
    font-weight: 400;
}

.box-contact-two p{
    width: 90%;
    padding-left:32px;
    color: #737373;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.01px;
}

@media (min-width:768px){
    .article-conatiner{
        flex-direction:column-reverse;
        width:95%;
    }

    .box-article-one{
       padding-top:45px;
     }

     .box-article-three{
        margin-bottom: 40px;
    }

    .box-contact-one{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .box-contact-one h2{ 
        width: 100%;
    }

    .box-contact-one input:nth-of-type(1){
        width:42%;
        margin-right:0px;
    }
 
    .box-contact-one input:nth-of-type(2){
        width:42%;
        margin-left:0px;
    }

    .box-contact-one input:nth-of-type(3){
        width:100%;
    }

    .box-contact-one input:nth-of-type(4){
        width:100%;
    }

    .box-contact-one input:nth-of-type(5){
        width:100%;
    }
    
    .box-contact-two p {
        padding:0px;
    }

    .box-contact-two h2 {
        padding-bottom:0px;
    }

    .box-contact-two h3 {
        padding:10px;
        padding-left:32px;
    }
}

@media (min-width:1024px){
    .article-conatiner{
        flex-direction: row-reverse;
        justify-content:space-between;
        align-items: flex-start;
        width:95%;
    }

    .contact-box{
        width: 30%;
    }

    .article-box{
        width: 65%;
    }

    .box-contact-one input:nth-of-type(1) {
        width: 100%;
        margin-right: 30px;
    }

    .box-contact-one input:nth-of-type(2) {
        width: 100%;
        margin-left:30px;
    }

    .box-contact-one{
        margin: 45px auto;
    }
    .box-contact-two p {
        padding-left: 30px;
    }
}

@media (min-width:1200px){
    .article-conatiner{
        width:64%;
    }
    .box-contact-two p {
        padding-right: 30px;
        width: 80%;
    }
    .contact-box{
        width: 370px;
    }

    .article-box{
        width: 55%;
    }
    
}