.employe{
    position: relative;
    top:-3px; 
 }

 .employe-container{
    display:flex;
    align-items: center;
    height: 350px;
    background-color:#1f1f1f;
    justify-content:center;
  }
  
.employe-container div{
    display:flex;
    margin:20px;
    height:190px;
    align-items: center;
    flex-basis:440px;
}

.box-employe {
    border: 1px solid #333333;
}

.box-employe img{
    position: relative;
    left:30px;
}

#employe-text{
    display: block;
}

#employe-text h3{
    margin-top:0;
    margin-left:33px;
    margin-bottom:15px;
    padding-top:50px;
    padding-right:10px;
    font-size: 14px;
    color: #595959;
    font-family: "League Spartan";
    font-weight: 500;
}

#employe-text p{
    margin-left:33px;
    margin-bottom:15px;
    padding-right:10px;
    font-size: 13px;
    line-height: 26px;
    color:#a8a8a8;
}

@media (max-width:1024px){
    .employe-container{
        height: 380px;
      }
      .employe-container div{
        margin:15px;
        height:308px;
        align-items: center;
        flex-basis:306px;
    }

    .box-employe img{
        top:45px;
        left:50%;
        transform: translateX(-50%);
    }

    .employe-container div {
        display: block;
    }

    #employe-text {
        text-align: center;
    }

    #employe-text p {
        margin-left:0px;
        padding-right: 0px;
    }

    #employe-text h3 {
        margin-left:0px;
        padding-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width:768px){
    .employe-container{
        height:100%;
        flex-direction: column;
        }

    .employe-container div{
        height:250px;
        width: 95%;
        }

    .employe-container div:nth-of-type(1){
        margin-bottom:5px;
        margin-top:20px;
    }
    .employe-container div:nth-of-type(2){
        margin-bottom:5px;
    }

    .employe-container div:nth-of-type(3){
        margin-bottom:20px;
    }    

    .contact-box{
        width: 5%;
    }
}
   
   
  