.container{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    width:90%;
    margin:80px auto;
    border:2px solid black
  }
  
  .main-box{
    width:50%;
    background-color:orange;
  }
  
  .aside-box{
    width:48%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-end;
  }
  
  .aside-box div{
    margin-top:0.15em;
    margin-bottom:0.4em;
    margin-left:0.5em;
  }
  
  .box-row{
    height:50px;
    flex-basis:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .box-row div{
    background-color:orange;
    height:100%;
    flex-grow: 1;
  }
  
  .box-row-three{
    height:50px;
    flex-basis:66%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
   
  }
  
  .box-row-three div{
    background-color:orange;
    height:100%;
    flex-basis:100%;
  }
  
  .box-row-five{
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }
  
  .box-row-five div{
    background-color:orange;
    flex-basis:18%;
    height:100%;
  }
  