@font-face {
	font-family: 'LeagueSpartan-Bold';
		src: url('LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'), 
			url('LeagueSpartan-Bold.otf') format('opentype'),  
			url('LeagueSpartan-Bold.woff') format('woff'), 
			url('LeagueSpartan-Bold.ttf') format('truetype'), 
			url('LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

