footer{
    position: relative;
    display:block;
    width:100vw; 
}

.footer-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #3e3e3e;
    width: 100%;
    padding:26px 26px 0 26px;
}

.footer-logo{
    align-self: center;
    width: 100%;
    height: 52px;
    background-image: url('~img/logo.png');
    background-repeat: no-repeat;
    margin-bottom: 37px;
}

.fotter-box-three{
    width: 51%;
    margin-bottom: 31px;
    p{
        color: #b0b0b0;
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 18px;
       } 
}

.fotter-box{
    width: 51%;
    margin-bottom: 37px;

   p{
    color: #b0b0b0;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
   } 

   #white-text{
    color: #e2e2e2;
   }
   

   span{
    color: #b0b0b0;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    font-family: "Work Sans";
    font-weight: 500;
    line-height: 22px;
   } 

   #btn_email{
    color: $primary-color; 
   }

   .low-margin{
       margin-bottom: 0px;
   }
}

.fotter-box-last{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    justify-content: center;
    padding:23px;
    background-color: #292929;
    color:#7c7c7c;
    font-family: $first-font-family;
    border-bottom: 1px solid grey;


    span{
        color:$primary-color;
    }
}

.fotter-box-icons{
    position: relative;
    border-top:1px solid #606060;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #3e3e3e;
    width: 100%;
    padding:26px 0px 0 0px;

    .icon-fb{
        width: 10%;
        background-image: url('~img/fb-icon.png');
        background-repeat: no-repeat;
      
    }

    .icon-insta{
        width: 10%;
        padding: 22px;
        background-image: url('~img/insta-icon.png');
        background-repeat: no-repeat;
       
    }

    .icon-trip{
        width: 10%;
        background-image: url('~img/trip-icon.png');
        background-repeat: no-repeat;
        margin-top:2px;
    }
}

