.container {
    border:2px solid black;
  }
  
  .container div{
    height:300px;
  }
  
  .main-block{
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .first-block{
    background-color:orange;
    border-right:30px solid white;
  }
  
  .secound-block-one div{
    height:50px;
  }
  
  .row-one div{
    background-color:orange;
    width:50%;
  }
  
  .row-one div:nth-of-type(2){
    border-left:10px solid white;
  }
  
  .row-two div{
    background-color:orange;
    width:50%;
  }
  
  .row-two div:nth-of-type(2){
    border-left:10px solid white;
  }
  
  .row-two div:nth-of-type(3){
    border-left:10px solid white;
  }
  
  .row-five div{
    background-color:orange;
  }
  
  .row-five div{
    border-right:10px solid white;
  }
  
  .row-five div{
    border-right:10px solid white;
  }
  
  .row-five div:nth-of-type(2){
    background-color:white;
  }
  
  .row-five div:nth-of-type(4){
    background-color:white;
  }
  