html, body {
	height: 100%;
	overflow-x: hidden;
	font-family:"League Spartan"; 
	scroll-behavior: smooth;
}

header{
	padding:0 17.5%;
}

body {
	margin:0;
	padding:0;
	font-family:sans-serif;
}

header{
	position: fixed;
	top:0;
	left:0;
	padding:0 18%;
	height:90px;
	width: 100%;
	box-sizing:border-box;
	background-color: #ffffff;
	z-index: 40;
}

header nav{
	float: right;
}

header nav ul{
	margin:0;
	padding:0;
	display:flex;
	
}

header nav ul li{
	list-style:none;
	margin-left:30px;
}

header nav ul li:hover{
	background-color: rgb(231, 231, 231);
}

header nav ul li:nth-last-of-type(4){
	list-style:none;
	border-bottom: 2px solid gold;
}

header nav ul li a{
	
	opacity: 0.9;
	color: #2a2a2a;
	font-family: "League Spartan";
	font-size: 13px;
	font-weight: 700;
	line-height: 88px;
	text-transform: uppercase;
	text-decoration: none;
	transition: top 0.3s;
}

#company-about{
	color:gold; 
}

.menu-toggle{
	float:right;
	line-height:90px;
	font-size:24px;
	cursor:pointer;
	display:none;
	color: #4d4d4d;
}

.logo img{
	position: absolute;
	top:34px;
}

#back-button{
	display: none;
}

.back img{
	display: none;
}

.active p{
	display: none;
}

@media (max-width:1024px){
header{
	padding:0 37px;
}
}

@media (max-width:768px){
.menu-toggle{
	display:block;
}
header{
	padding:0 30px;
}

header nav ul li:nth-last-of-type(4){
	list-style:none;
	border-bottom:1px solid #2a2a2a;
}

header nav ul li:hover{
	background-color: rgb(0, 0, 0);
}

.back img{
	position: absolute;
	top:29px;
	left:42px;
	display: block;
	transform: rotate(90deg);
	cursor: pointer;
}

#back-button{
	position: relative;
	top:17px;
	left:74px;
	display: block;
	height: 90px;
	width: 48px;
	color: #797979;
	font-family: "League Spartan";
	font-size: 14px;
	font-weight: 700;
	line-height: 58.62px;
	text-transform: uppercase;
}

header nav{
	position: absolute;
	width:50%;
	height: calc(100vh);
	background-color: #2e2e2e;
	right:-100%;
	transition:0.5s;
}

header nav ul{
	display:block;
	text-align: center;
	text-align: left;
}

header nav ul li{
	border-bottom:1px solid #2a2a2a;
}

header nav.active{
	right:0;
}

header nav ul li a{
	position: relative;
	width: 228px;
	height: 348px;
	opacity: 0.9;
	color: #ffffff;
	font-family: "League Spartan";
	font-size: 20px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	text-align: left;
	padding-left:7%;
	}
}

@media (max-width:480px){
	header {
		padding: 0 25px;
	}

	header nav{
		width: 100%;
	}
}
