#home{
  position: relative;
  height: 800px;
  width: 100%;
  background-color:rgb(0, 0, 0);
}

.home-baner{
  position: relative;
  height: 100%;
  background-image:url(http://witabud.pl/wp-content/themes/witabud/assets/img/slide_img01.jpg);
  background:cover;
  background-position: center;
  max-width: 100%;
  display: block;
}

.baner-description{
  max-width: 1100px;
  width: 95%;
  height: 300px;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.baner-description span{
  position: relative;
  color: #d8d8d8;
  font-size: 24px;
  font-weight: 700;
  font-family: "League Spartan";
  text-transform: uppercase;
}

.baner-description h1{
  height: 180px;
  color: #ffffff;
  font-family: "League Spartan";
  font-size: 55px;
  font-weight: 700;
  line-height: 79.92px;
  text-transform: uppercase;
}

 .btn-right:hover{
 background-color: rgba(0, 0, 0, 0.466);
}

.btn-left:hover{
  background-color: rgba(0, 0, 0, 0.466);
 }

.yellow_btn p {
  color: #000000;
  font-family: "League Spartan";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.black_btn p {
  color: #f8db14;
  font-family: "League Spartan";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.yellow_btn {
  background: #f8db14;
  float: left;
  font-size: 14px;
  color: #000000;
  text-align: center;
  padding: 15px 25px 10px;
  margin: 0 15px 0 0;
  font-family: 'LeagueSpartan-Bold';
  text-transform: uppercase;
  line-height: 145%;
  text-decoration: none;
}

.btns a:hover{
  background-color: rgb(255, 255, 255);
}

.black_btn {
  background: #0000008e;
  float: left;
  font-size: 14px;
  color: #f8db14;
  text-align: center;
  padding: 15px 25px 10px;
  margin: 0 15px 0 0;
  font-family: 'LeagueSpartan-Bold';
  text-transform: uppercase;
  line-height: 145%;
  text-decoration: none;
  }

.baner-arrow{
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.btn-left{
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 0 0 2%;
  padding: 0;
  left: 0;
  font-size: 0px;
}

.btn-right {
  float: right;
  width: 60px;
  height: 60px;
  margin: 0 2% 0 0;
  padding: 0;
  left: 0;
  font-size: 0px;
}

.button_down {
  width: 180px;
  font-family: "League Spartan";
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 5%;
  margin: auto;
  left: 0;
  right: 0;
}

.button_down a{
  text-decoration: none;
  color:white;
}

.button_down a:hover{
  color:gold;
}

@media (max-width:1024px){
	.baner-description{
    text-align: center;
    max-width: 820px;
  }

  .btns{
    margin:auto;
    position: relative;
    max-width: 100%;
    left:23%;
  }
}
@media (max-width:768px){
  .baner-description{
    max-width: 700px;
    width: 85%;
    height: 300px;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}
  .baner-description h1{
    font-size: 45px;
  }
  .btns{
    margin:auto;
    position: relative;
    max-width: 100%;
    left:20%;
  }

  .btn-left,.btn-right {
    width: 40px;
    height: 40px;
  }
  }
@media (max-width:430px){
.baner-description h1 {
  font-size: 30px;
  line-height: 135%;
}

.baner-arrow {
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 90%;
}

.btns{
  margin:auto;
  position: relative;
  max-width: 100%;
  left:15%;
}

.yellow_btn{
  width: 60%;
  margin-bottom: 10px;
}

.black_btn{
  width: 60%;
}

@media (max-width:400px){
  .baner-description h1 {
    font-size: 28px;
}
}
}
    

