.info{
    position: relative;
    width: 100vw;
    top:90px; 
    padding-bottom: 0;
    padding-top: 0px;
    background-color:rgb(0, 0, 0);
}

.info-conatiner{
    position: relative;
    width:100%;
    height: 130px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.info-conatiner img{
    position: absolute;
    width:100%;
    height: 130px;
    background-color:#f8db14;
}

.info-conatiner h2{
    position: relative;
    width: 334px;
    color: #736718;
    font-family: "League Spartan";
    font-size: 30px;
    font-weight: 700;
    line-height: 79.36px;
    text-transform: uppercase;
    z-index: 30;
    left:25px;
}

@media (min-width:430px){
    .info-conatiner h2{
        left:30px;
    }
}
@media (min-width:768px){
    .info-conatiner h2{
        left:30px;
    }
}
@media (min-width:1024px){
    .info-conatiner h2{
        left:37px;
    }
}
@media (min-width:1200px){
    .info-conatiner h2 {
        left: 18%;
    }
}
