.map{
    position: relative;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    background-color:#000000;
}

.map-conatiner{
    position: relative;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 710px;
    background-repeat: no-repeat;
    background-image: url(http://witabud.pl/wp-content/themes/witabud/assets/img/footer_leftbg.jpg);
}

.map-image{
    position: absolute;
    height: 250px;
    width:100%;
    top:460px;
    left:0;
    background:cover;
    background-position: center;
    text-align: center;
    z-index: 30;
    background-image: url(http://witabud.pl/wp-content/themes/witabud/assets/img/footer_map.jpg);
}

.map-image a{
    position: relative;
    top:84px;
}

.map-image p{
    position: relative;
    top:95px;
    color: #f7db14;
    font-family: "League Spartan";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}   

.map-info{
   position: absolute;
   height:460px;
   top:0; 
   left:0;
   width: 100%;
}

.map-box:nth-of-type(1){
    position: absolute;
    top:0;
    left:5%;
    width:90%;
    height:25%;
    text-align: left;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 1px solid  #1e1e1e;;
}

.map-box:nth-of-type(1) img{
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
}

.map-box:nth-of-type(2){
    position: absolute;
    top:25%;
    left:5%;
    width:90%;
    height:40%;
    text-align: left;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 1px solid  #1e1e1e;
}

.map-box:nth-of-type(2) .box-two-part-one{
    position: absolute;
    top:28px;
    left:0;
    width:50%;
    height: 40%;
    text-align: left;
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin:0;
}

.map-box:nth-of-type(2) .box-two-part-two{
    position: absolute;
    top:28px;
    left:50%;
    width:50%;
    height: 40%;
    text-align: left;
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin:0;
}

.map-box:nth-of-type(2) .box-two-part-one h3{
    margin:0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.map-box:nth-of-type(2) .box-two-part-one p{
    margin:5px;
}

.map-box:nth-of-type(2) .box-two-part-two p{
    margin:0;
    margin-top:22px;
    font-weight: 100;
}

.map-box:nth-of-type(2) .box-two-part-three{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

.map-box:nth-of-type(2) .box-two-part-three p{
    margin-top:28px;
    width: 170px;
    height: 35px;
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.map-box:nth-of-type(2) .box-two-part-three span{
    color: #f7db14;
}   

.map-box:nth-of-type(3){
    position: absolute;
    top:65%;
    left:5%;
    width:90%;
    height:22%;
    text-align: left;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 1px solid  #1e1e1e;
}

.map-box:nth-of-type(3) .box-two-part-one{
    position: absolute;
    left:0;
    width:50%;
    height: 100%;
    text-align: left;
    color: #666666;
    font-family: "League Spartan";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.map-box:nth-of-type(3) .box-two-part-one p {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    line-height: 100%;
    margin:0;
}

.map-box:nth-of-type(3) .box-two-part-two{
    position: absolute;
    left:50%;
    width:50%;
    height: 100%;
    text-align: left;
    color: #666666;
    font-family: "League Spartan";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.map-box:nth-of-type(3) .box-two-part-two a{
    position: relative;
    top:25%;
    margin:0;
    padding-right: 4%;
}

.map-box:nth-of-type(4){
    position: absolute;
    top:87%;
    left:5%;
    width:90%;
    height:13%;
    text-align: center;
}

.map-box:nth-of-type(4) .box-two-part-one{
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.map-box:nth-of-type(4) a , .map-box:nth-of-type(4) span{
    position: relative;
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 12px;    
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    top:10px;
}

.map-box:nth-of-type(4) span:hover{
    color:gold;
}

.map-box:nth-of-type(4) a:hover{
    color:gold;
}

#gold-text{
    color:gold;
}

@media (min-width:430px){
    .map-conatiner{
        height: 670px;
    }

    .map-image{
        top:420px;
    }

    .map-info{
        position: absolute;
        height:420px;
    }

    .map-box:nth-of-type(2){
        height:25%;
        text-align: left;
        border-bottom: 1px solid  #1e1e1e;
    }

    .map-box:nth-of-type(2) .box-two-part-one{
        height: 100%;
        left:0;
    }

    .map-box:nth-of-type(2) .box-two-part-two{
        height: 100%;
        left:36%;
    }

    .map-box:nth-of-type(2) .box-two-part-three{
        position: absolute;
        height: 100%;
        top:22px;
        left:72%;
    }

    .map-box:nth-of-type(2) .box-two-part-three p{
        font-size:14px;
    }

    .map-box:nth-of-type(2) .box-two-part-two p{
        font-size:14px;
    }

    .map-box:nth-of-type(2) .box-two-part-two p{
        font-size:14px;
    }

    .map-box:nth-of-type(3){
        top:50%;
        left:5%;
        width:90%;
        height:30%;
    }

    .map-box:nth-of-type(3) .box-two-part-two{
        text-align: right;
    }

    .map-box:nth-of-type(4){
        position: absolute;
        top:80%;
        left:5%;
        width:90%;
        height:20%;
        text-align: center;
        border-top: 1px solid  #1e1e1e;
    }

    .map-box:nth-of-type(4) a , .map-box:nth-of-type(4) span{
        top:20px;
    }
}

@media (min-width:1024px){
    .map-conatiner{
        height: 450px;
        background-repeat: no-repeat;
        background-image: url(http://witabud.pl/wp-content/themes/witabud/assets/img/footer_leftbg.jpg);
    }

    .map-image{
        position: absolute;
        height: 450px;
        width:50%;
        top:0px;
        left:60%;
        background:cover;
        background-position: center;
        text-align: center;
        background-image: url(http://witabud.pl/wp-content/themes/witabud/assets/img/footer_map.jpg);
    }

    .map-info{
        position: absolute;
        height:450px;
        top:0; 
        left: 1%;
        width: 60%;
    }

    .map-box:nth-of-type(2) .box-two-part-one h3{
        margin:0;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
    }

    .map-image{
        justify-content: space-between;
        text-align: center;
        left:60%;
    }

    .map-image a{
            position: absolute;
            top:352px;
            left:325px;
    }

    .map-image p{
        position: absolute;
        top:370px;
        left:235px;
    }
    
    .map-box:nth-of-type(2) .box-two-part-three{
        position: absolute;
        height: 100%;
        top:22px;
        left:67%;
    }
}

@media (min-width:1440px){
        .map-info{
        height:460px;
        top:0; 
        left:16%;
        width: 33%;
    }

    .map-image{
        height: 450px;
        width:50%;
        top:0px;
        left:50%;
        background:cover;
        background-position: center;
        text-align: center;
        background-image: url(http://witabud.pl/wp-content/themes/witabud/assets/img/footer_map.jpg);
    }
    .map-image a{
        top:352px;
        left:625px;
   }
   
    .map-image p{
        top:370px;
        left:535px;
    }
}

 











