nav{
    position: relative;
    display:block;
    width:100vw;
}

.nav-container{
    position: fixed;
    left:0;
    bottom:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;

    a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 25%;
    }

    a:hover{
        background-color:$primary-color;
    }

    a .btn-reservation:hover{
        background-color:#3e3e3e;
    }

    p{
        position: relative;
        color: #6b6b6b;
        font-family: "Work Sans";
        font-size: 12px;
        font-weight: 400;
        top:30px;
    }

    .btn-contact{
        display: flex;
        justify-content: center;
        width: 100%;
        padding:34px;
        background-image: url('~img/menu-one.png');
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px solid #dedede;
    }

    .btn-map{
        display: flex;
        justify-content: center;
        width: 100%;
        padding:34px;
        background-image: url('~img/menu-two.png');
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px solid #dedede;
    }

    .btn-reservation{
        display: flex;
        justify-content: center;
        width: 100%;
        padding:34px;
        background-image: url('~img/menu-three.png');
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px solid #dedede;
        background-color:$primary-color;
    }

    .btn-menu{
        display: flex;
        justify-content: center;
        width: 100%;
        padding:34px;
        background-image: url('~img/menu-four.png');
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px solid #dedede;
    }
}

.menu-container{
    position: relative;
    display: none;
    flex-wrap: wrap;
    background-color:#3e3e3e;
    padding:45px;
    width: 100%;

    h2{
        width:51%;
        color: #ffffff;
        font-family: $first-font-family;
        font-size: 24px;
        font-weight: 500;
        line-height: 48px;
    }

    span{
        width:27%;
        color: #ffffff;
        font-family: $second-font-family;
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 48px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    a{
        text-decoration: none;
        width: 100%;
        background-color:$primary-color;
        margin-top:50px;
    }

    a:hover{
        background-color:#292929;
        border:1px solid $primary-color;
    }

    .btn-bar{
        position: relative;
        display:flex;
        justify-content: flex-end;
        background-color:$primary-color;
        font-family: $first-font-family;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        margin-top:20px;
        margin-bottom:20px;
        text-transform: uppercase;
    }

    .reservation-icon{
        width: 45%;
        height: 50px;
        background-image: url('~img/reservation-btn-two.png');
        background-repeat: no-repeat;
        background-position: center;
    }

}

.menu-container-two{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color:#3e3e3e;
    padding:45px;
    width: 100%;

    h2{
        width:51%;
        color: #ffffff;
        font-family: $first-font-family;
        font-size: 24px;
        font-weight: 500;
        line-height: 48px;
    }

    span{
        width:27%;
        color: #ffffff;
        font-family: $second-font-family;
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 48px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    a{
        text-decoration: none;
        width: 100%;
        background-color:$primary-color;
        margin-top:50px;
    }

    a:hover{
        background-color:#292929;
        border:1px solid $primary-color;
    }

    .btn-bar{
        position: relative;
        display:flex;
        justify-content: flex-end;
        background-color:$primary-color;
        font-family: $first-font-family;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        margin-top:20px;
        margin-bottom:20px;
        text-transform: uppercase;
    }

    .reservation-icon{
        width: 45%;
        height: 50px;
        background-image: url('~img/reservation-btn-two.png');
        background-repeat: no-repeat;
        background-position: center;
    }

}
