.offert{
    position: relative;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

.offert-conatiner{
    position: relative;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 407px;
    background-repeat: no-repeat;
}

.offert-conatiner img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.offert-box:nth-of-type(1){
    position: absolute;
    text-align: center;
    height: 30%;
    top:0;
    left:0;
    width: 100%;
}

.offert-box:nth-of-type(1) p{
    position: relative;
    height: 17px;
    color: #636363;
    font-family: "League Spartan";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    top:50%;
    transform: translateY(-50%);
    margin-top:0px;
}

.offert-box:nth-of-type(2){
    position: absolute;
    height: 55%;
    top:30%;
    left:15%;
    width: 70%;
}

.offert-box:nth-of-type(2) a{
    display: block;
    color: #000000;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    height: 65px;
    line-height: 65px;
    border: 2px solid #000000;
    text-align: center;
    margin-bottom: 15px;
}

.offert-box:nth-of-type(2) a:hover{
    background-color:black;
    color:gold;
}

.offert-box:nth-of-type(3){
    position: absolute;
    height: 15%;
    top:85%;
    left:0;
    width: 100%;
}

@media (min-width:430px){
    .offert-box:nth-of-type(2) a{
        display: inline-block;
        color: #000000;
        font-family: "League Spartan";
        font-size: 17px;
        font-weight: 700;
        text-decoration: none;
        width:30%;
        height: 65px;
        line-height: 65px;
        border: 2px solid #000000;
        text-align: center;
        margin-bottom: 15px;
    }

    .offert-box:nth-of-type(2){
        position: absolute;
        left:5%;
        width:90%;
        top:131px;
        text-align: center;
    }

    .offert-box:nth-of-type(2) a:nth-of-type(1),.offert-box:nth-of-type(2) a:nth-of-type(2){
        margin-right: 15px;
    }

    .offert-conatiner{
        height: 260px;  
    }
    
    .offert-box:nth-of-type(1) p{
        position: relative;
        top:58px;
    }
}
    @media (min-width:1024px){
        .offert-box:nth-of-type(2){
            position: absolute;
            left:12.5%;
            width:76%;
        }
    }
    @media (min-width:1440px){
        .offert-box:nth-of-type(2){
            position: absolute;
            left:30%;
            width:40%;
        }

    }
    


