.realizations{
    position: relative;
    width: 100vw;
    padding-bottom: 0;
    top:-3px; 
    padding-top: 0;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    background-color:#ffffff;
    }

.realizations-container{
    position: relative;
    width:60%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    margin-top:80px;
    margin-bottom:80px;
    }

.box-realizations:nth-of-type(2):hover{
    background-color:gold;
}

.box-realizations:nth-of-type(3):hover{
    background-color:gold;
}

.box-realizations:nth-of-type(4):hover{
    background-color:gold;
}

.box-realizations:nth-of-type(1){
    position: absolute;
    display: block;
    margin: 0em 0;
    left: 0;
    height: 460px;
    width: 25%;
    }

.box-realizations:nth-of-type(2){
    position: absolute;
    top: 0;
    left:25%;
    height: 460px;
    width: 24%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(3){
    position: absolute;
    top: 0;
    left:50%;
    height: 460px;
    width: 24%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(4){
    position: absolute;
    top: 0;
    left:75%;
    height: 460px;
    width: 25%;
    border: 1px solid #e9e9e9;
    }

.realizations-image{
    position: relative;
    left:0;
    width: 100%;
    height:50%;
    text-align: left;
    justify-content: center;
    background-color: white;
    }

#realizations-two-img{
    position: relative;
    width: 100%;
    height:100%;
    }

#realizations-three-img{
    position: relative;
    width: 100%;
    height:100%;
    }

#realizations-four-img{
    position: relative;
    width: 100%;
    height:100%;
    }

.box-realizations h2{
    width: 80%;
    height: 64px;
    color: #000000;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: 700;
    margin: 34px auto 26px auto;
    }

.box-realizations p{
    position: absolute;
    text-align: left;
    right:10%;
    left: 10%;
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin: 0px auto;
    }

.realizations-image h1{
    margin-top:0;
    width: 186px;
    height: 25px;
    color: #000000;
    font-family: "League Spartan";
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    }       


.realizations-image h4{
    width: 90%;
    height: 60px;
    color: #585858;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
    }

#smal-right-arrow{
    width: 12px;
    height: 17px;
    transform: rotate(180deg);
    }

.smal-left-arrow{
    width: 12px;
    height: 17px;
    transform: rotate(0deg);
}

.more-text{
    width: 120px;
    height: 16px;
    color: #f8db14;
    font-family: "League Spartan";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    }

@media (max-width:1024px){
.realizations-container{
    width:93%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    height: 580px;
    margin-top:60px;
    margin-bottom: 20px;
    }

.box-realizations:nth-of-type(1){
    left: 0;
    top:0;
    width: 100%;
    height: 176px;
    }

.box-realizations:nth-of-type(2){
    position: absolute;
    top: 88px;
    left:0;
    height: 460px;
    width: 32%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(3){
    position: absolute;
    top: 88px;
    left:34%;
    height: 460px;
    width: 32%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(4){
    position: absolute;
    top: 88px;
    left:68%;
    height: 460px;
    width: 32%;
    border: 1px solid #e9e9e9;
    }
.box-realizations p{
    right:10%;
    left: 10%;
    }

.realizations-image h4{
    position: absolute;
    right: 0;
    width: 47%;
    top: -30px;
    height: 38px;
    color: #585858;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
    text-align: right;
}
.more-text{
    position: absolute;
    right: 0;
    top: 25px;
    text-align: right;
}
#smal-right-arrow{
    margin-right:19px;
}
}
@media (max-width:768px){
.box-realizations p{
    text-align: left;
    right:10%;
    left: 10%;
    }
}
@media (max-width:430px){
.realizations-container{
    width:90%;
    height: 1380px;
    margin-top:42px;
    margin-bottom:33px;
}

.box-realizations:nth-of-type(1){
    position: absolute;
    top:0;
    left:0;
    height: 146px;
    width: 100%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(2){
    position: absolute;
    top:156px;
    left:0;
    height:400px;
    width: 100%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(3){
    position: absolute;
    top:566px;
    left:0;
    height:400px;
    width: 100%;
    border: 1px solid #e9e9e9;
    }

.box-realizations:nth-of-type(4){
    position: absolute;
    top:986px;
    left:0;
    height:400px;
    width: 100%;
    border: 1px solid #e9e9e9;
    }

.box-realizations p{
    right:5%;
    left: 5%;
    text-align: left;
    }

.box-realizations h2{
    width: 90%;
    height: 22px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    right:5%;
    left: 5%;
}

.more-text{
    position: relative;
    right: 0;
    top: 30px;
    text-align: right;
}

#smal-right-arrow{
    position: relative;
    top:65px;
}

.smal-left-arrow{
    position: relative;
    top:65px;
}

.realizations-image h4{
    position: absolute;
    left: 0;
    width: 100%;
    top: 20px;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.98px;
    text-align: left;
}
}