.realizations{
    position: relative;
    width: 100vw;
    margin-top:90px;
    padding-bottom: 30px;
    padding-top: 2px;
    
}
 
 .realizations-container{
     position: relative;
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     width:98%;
     margin: 0 auto;
     padding-bottom: 50px;
 }

 .realizations-container h2{
    color: #000000;
    font-family: "League Spartan";
    font-size: 27px;
    font-weight: 700;
    margin:0px;
    text-transform: uppercase;
}

 .box-realizations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:325px;
    width: 90%;
    align-items: center;
    border: 1px solid #e9e9e9;
    margin-bottom:15px;
}

.box-realizations:first-of-type{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:36px;
    margin-bottom:20px;
    border:none;
    border-bottom:1px solid #e9e9e9;
}

.box-realizations img{
    height:200px;
    width:100%;
}

.box-realizations h3{
    width: 90%;
    padding-left: 5%;
    height: 22px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    font-family: "League Spartan";
}

.box-realizations p{
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
}

.box-realizations a{
    color:black;
    font-family: "League Spartan";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 48%;
    height: 70px;
    line-height: 70px;
    background-color: #f8db14;
    text-align: center;
    text-decoration: none;
    margin-top:50px;
    margin-bottom:50px;
}

.box-realizations:nth-last-of-type(1){
    background-color:black;
}

@media (min-width:768px){
    .box-realizations{
        flex-direction: row;
        height:230px;
        width: 90%;
    }

    .box-realizations img{
        height:100%;
        width: 60%;
    }

    .box-realizations div{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content: flex-end;
        width: 40%;
        height: 100%;
    }

    .box-realizations h3{
        padding-left: 5%;
        padding-bottom: 20px;
        width: 90%;
    }

    .box-realizations p{
        padding-left: 5%;
        width: 90%;
    }
}

    @media (min-width:1024px){

        .realizations-container{
            position: relative;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            width:92%;
            margin: 0 auto;
        }

        .box-realizations:first-of-type{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }
        
        .box-realizations{
            flex-direction: column;
            height:460px;
            width: 30%;
            margin-right: 3%;
            margin-bottom: 3%;
        }

        .box-realizations img{
            height:235px;
            width: 100%;
        }

        .box-realizations div{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-content: flex-end;
            width: 90%;
        }

        .box-realizations a{
            width: 100%;
            height: 100%;
            margin-top:0px;
            margin-bottom:0px;
        }
    }

    @media (min-width:1200px){

        .realizations-container{
            width:65%;
            justify-content: center;
        }
     
        .box-realizations{
            flex-direction: column;
            height:460px;
            width: 23%;
            margin-right: 1.5%;
            margin-bottom: 2%;
            
        }

         #more-four{
            display: none;
        }

        #more-three{
            display: none;
        }

        #more-two{
            display: none;
        }

        #more-one{
            display: none;
        }

        .box-realizations:first-of-type{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width:100%;
        }

        .box-realizations p{
            padding-top: 7%;
        }

        .box-realizations:nth-last-of-type(1){
            width: 100%;
            height: 20%;
            background-color:rgba(0, 0, 0, 0.363);
        }

        .box-realizations a{
            color:black;
            font-family: "League Spartan";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            margin-top:0px;
            margin-bottom:0px;
        }
    }

