body {
  transition: 1s;

}

header{
    opacity: 0;
    position:absolute;
    width: 100vw;
    height:100vh;
    background-color:black;
    transform:1s;
}

.main-nav {
    position: fixed;
    display: flex;
    width: 100vw;
    background-color:green;
    bottom: 0px;
    left:0;
    font-size: 35px;
    transition: .2s linear;
}


.box{
    display: flex;
    justify-content: center;
    width: 25%;
    padding:10px;
    background-color: white;
    border-right:1px solid grey;
    transform:1s;
}

.box:nth-of-type(3){
    background-color:orangered;
}

.wrap{
    background-color:red;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    height: 300px;
    bottom: -300px;
    opacity: 1;
    background-color:orangered;
    transition: .2s linear;
}

.main-nav.on {
    bottom: 0px;
}

shadow{
    position: absolute;
    width: 100vw;
    height: 300px;
}

header.on {
    opacity:0.8;
}

nav.on {
    bottom: 50px;
}
